<section class="media-room-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-to">
                    <h2>
                       <%= data.judul %>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="our-company-description-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <p>
                        <%= data.artikel %>
                    </p>
                    <p><strong>Unduh Disini</strong></p>
                    <p>
                     <a href="download/<%= data.file%>">Kelas 1 Tema 1 ST 1 Kurikulum 2013 Revisi 2017</a>    
                    </p>
            </div>
        </div>
    </div>
</section>
